@page "/login"
@using BlazorApp.Data
@inject LoginService MyLogin
@inject SqliteService db


<h1>@status</h1>

@if(@status==1)
{
    <p> Welcome @member.Name</p>
    <button @onclick="logout" class="btn btn-danger">Logout</button>
} else {

                   <p>Welcome, please login</p>
                    <div class="form-group">
                        <label for="fname">Email address</label>
                        <input type="text" @bind="@account"   name="account" class="form-control" id="account" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your credentials with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" @bind="@password" id="password" name="password" class="form-control"  placeholder="Password">
                    </div>
                        <button type="submit" class="btn btn-primary" @onclick="login">Login</button>

}

@code {
    private string account;

    private string password;

    private int status { get; set; }=0;

    private MemberData member;

    async Task login()
    {
        @* status ="login successful!!!";*@
        MyLogin.setlogin(1);
        status=MyLogin.getlogin();
        this.member= await MyLogin.GetMemberInfo();
    }

    protected override async Task OnInitializedAsync(){
        db.connectDB();
        db.createTable();
        db.createNewMember();
        this.status=await MyLogin.GetLoginAsync();
    }

    void logout(){
        MyLogin.setlogin(0);
        status=MyLogin.getlogin();
    }
}